# Token do bot (obtenha em https://discord.com/developers/applications)
DISCORD_TOKEN=

# ID do seu servidor de testes (opcional, para deploy de comandos em guild específica)
GUILD_ID=

# ID da aplicação do bot
CLIENT_ID=
